{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block body %} style="background-image: url('{% static 'main/img/home-bg.jpg' %}')" {% endblock %}

{% block content %}

    <div class="login" style="max-height: 400px; overflow: auto; min-width: 50%;">
        <h3 class="login__title title text-center">Create Post</h3>
        <form action="{% url 'post-edit' id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <img src="{{ post.photo.url }}" alt="rasm" class="img-responsive">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
