{% extends 'layout.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block body %} style="background-image: url('{% static 'main/img/home-bg.jpg' %}')" {% endblock %}

{% block content %}

    <div class="login" style="max-height: 400px; overflow: auto; min-width: 50%;">
        <h3 class="login__title title text-center">Create Post</h3>
        <form data-url="{% url 'post-create' %}" method="POST" id="createForm" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
          <button type="button" id="createButton" class="btn btn-primary">Create</button>
        </form>
    </div>

{% endblock %}